<a href="https://colab.research.google.com/github/jakub-porowski/VideoGamesAnalysis/blob/main/VideoGamesAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import numpy as np
import seaborn as sns
import pandas as pd
from matplotlib import pyplot as plt
url = 'https://raw.githubusercontent.com/jakub-porowski/VideoGamesAnalysis/main/vgsales-12-4-2019-short.csv'
vgs = pd.read_csv(url)

In [15]:
#@title Domyślny tekst tytułu
def All_data_description():
  vgs.info()
  print(" ")
  for i in vgs:
    print(vgs[i].describe())
    print(" ")
    
columns = []
def Choose_columns():
  print("Do you want to choose column? ")
  addcolumn = input()
  if addcolumn == "yes":
    print("which one?")
    column=input()
    columns.append(column)
    Choose_columns()

def Show_specific_column_description():
  Choose_columns()
  vgs[columns].info()
  for i in vgs[columns]:
    print(" ")
    print(vgs[i].describe())

def Show_unique_values():
  Choose_columns()
  for i in vgs[columns]:
    print(" ")
    print(vgs[i].unique())

def Show_histogram_per_year():
  Choose_columns()
  columns.append("Year")
  for i in vgs[columns]:
    if i != "Year":
      vgs[columns].hist(column="Year", by=i)
      plt.xticks(rotation=90)
      plt.show()
    else:
      break

def Show_correlation_map():
  corr = vgs.corr()
  f, ax = plt.subplots(figsize=(11, 9))
  mask = np.triu(np.ones_like(corr, dtype=bool))
  cmap = sns.diverging_palette(230, 20, as_cmap=True)
  sns.heatmap(corr, mask=mask, cmap=cmap, vmax=.3, center=0,
            square=True, linewidths=.5, cbar_kws={"shrink": .5})

In [24]:
df = vgs.copy()
df.dropna(subset = ["Global_Sales"], inplace=True)
df.info()
print(" ")
for i in df:
  print(df[i].describe())
  print(" ")
# predict where will be the most sales based on genre,Platform,Global sales, year, highest sell

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19415 entries, 19 to 21241
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           19415 non-null  int64
 1   Name           19415 non-null  object
 2   Genre          19415 non-null  object
 3   ESRB_Rating    13810 non-null  object
 4   Platform       19415 non-null  object
 5   Publisher      19415 non-null  object
 6   Developer      19411 non-null  object
 7   Critic_Score   4275 non-null   float64
 8   User_Score     172 non-null    float64
 9   Total_Shipped  0 non-null      float64
 10  Global_Sales   19415 non-null  float64
 11  NA_Sales       12964 non-null  float64
 12  PAL_Sales      13189 non-null  float64
 13  JP_Sales       7043 non-null   float64
 14  Other_Sales    15522 non-null  float64
 15  Year           19377 non-null  float64
dtypes: float64(9), int64(1), object(6)
memory usage: 2.5+ MB

count    19415.000000
mean     11157.572856
std       6022.522160
min         20.000000
25%       5916.500000
50%      11397.000000
75%      16386.500000
max      21242.000000
Name: Rank, dtype: float64

count       19415
unique      13378
top       FIFA 14
freq            9
Name: Name, dtype: object

count      19415
unique        20
top       Action
freq        2913
Name: Genre, dtype: object

count     13810
unique        6
top           E
freq       5883
Name: ESRB_Rating, dtype: object

count     19415
unique       39
top          DS
freq       2431
Name: Platform, dtype: object

count          19415
unique           744
top       Activision
freq            1051
Name: Publisher, dtype: object

count       19411
unique       2852
top       Unknown
freq          725
Name: Developer, dtype: object

count    4275.000000
mean        7.144023
std         1.430825
min         1.000000
25%         6.400000
50%         7.400000
75%         8.200000
max        10.000000
Name: Critic_Score, dtype: float64

count    172.000000
mean       8.276163
std        1.234666
min        2.000000
25%        7.900000
50%        8.500000
75%        9.100000
max       10.000000
Name: User_Score, dtype: float64

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Total_Shipped, dtype: float64

count    19415.000000
mean         0.365503
std          0.833022
min          0.000000
25%          0.030000
50%          0.120000
75%          0.360000
max         20.320000
Name: Global_Sales, dtype: float64

count    12964.000000
mean         0.275541
std          0.512809
min          0.000000
25%          0.050000
50%          0.120000
75%          0.290000
max          9.760000
Name: NA_Sales, dtype: float64

count    13189.000000
mean         0.155263
std          0.399257
min          0.000000
25%          0.010000
50%          0.040000
75%          0.140000
max          9.850000
Name: PAL_Sales, dtype: float64

count    7043.000000
mean        0.110402
std         0.184673
min         0.000000
25%         0.020000
50%         0.050000
75%         0.120000
max         2.690000
Name: JP_Sales, dtype: float64

count    15522.000000
mean         0.044719
std          0.129554
min          0.000000
25%          0.000000
50%          0.010000
75%          0.040000
max          3.120000
Name: Other_Sales, dtype: float64

count    19377.000000
mean      2007.640760
std          6.118439
min       1970.000000
25%       2004.000000
50%       2008.000000
75%       2011.000000
max       2020.000000
Name: Year, dtype: float64