<a href="https://colab.research.google.com/github/jakub-porowski/VideoGamesAnalysis/blob/main/VideoGamesAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [102]:
import numpy as np
import seaborn as sns
import pandas as pd
from matplotlib import pyplot as plt
url = 'https://raw.githubusercontent.com/jakub-porowski/VideoGamesAnalysis/main/vgsales-12-4-2019-short.csv'
vgs = pd.read_csv(url)

In [154]:
def All_data_description():
  vgs.info()
  print(" ")
  for i in vgs:
    print(vgs[i].describe())
    print(" ")
    
columns = []
def Choose_columns():
  print("Do you want to choose column? ")
  addcolumn = input()
  if addcolumn == "yes":
    print("which one?")
    column=input()
    columns.append(column)
    Choose_columns()

def Show_specific_column_description():
  Choose_columns()
  vgs[columns].info()
  for i in vgs[columns]:
    print(" ")
    print(vgs[i].describe())

def Show_unique_values():
  Choose_columns()
  for i in vgs[columns]:
    print(" ")
    print(vgs[i].unique())

def Show_histogram_per_year():
  Choose_columns()
  columns.append("Year")
  for i in vgs[columns]:
    if i != "Year":
      vgs[columns].hist(column="Year", by=i)
      plt.xticks(rotation=90)
      plt.show()
    else:
      break

def Show_correlation_map():
  corr = vgs.corr()
  f, ax = plt.subplots(figsize=(11, 9))
  cmap = sns.diverging_palette(230, 20, as_cmap=True)
  sns.heatmap(corr, mask=mask, cmap=cmap, vmax=.3, center=0,
            square=True, linewidths=.5, cbar_kws={"shrink": .5})

In [158]:
All_data_description()
# predict where will be the most sales based on

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55792 entries, 0 to 55791
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           55792 non-null  int64
 1   Name           55792 non-null  object
 2   Genre          55792 non-null  object
 3   ESRB_Rating    23623 non-null  object
 4   Platform       55792 non-null  object
 5   Publisher      55792 non-null  object
 6   Developer      55775 non-null  object
 7   Critic_Score   6536 non-null   float64
 8   User_Score     335 non-null    float64
 9   Total_Shipped  1827 non-null   float64
 10  Global_Sales   19415 non-null  float64
 11  NA_Sales       12964 non-null  float64
 12  PAL_Sales      13189 non-null  float64
 13  JP_Sales       7043 non-null   float64
 14  Other_Sales    15522 non-null  float64
 15  Year           54813 non-null  float64
dtypes: float64(9), int64(1), object(6)
memory usage: 6.8+ MB

count    55792.000000
mean     27896.500000
std      16105.907446
min          1.000000
25%      13948.750000
50%      27896.500000
75%      41844.250000
max      55792.000000
Name: Rank, dtype: float64

count                  55792
unique                 37102
top       Plants vs. Zombies
freq                      20
Name: Name, dtype: object

count     55792
unique       20
top        Misc
freq       9476
Name: Genre, dtype: object

count     23623
unique        8
top           E
freq      10811
Name: ESRB_Rating, dtype: object

count     55792
unique       74
top          PC
freq      10978
Name: Platform, dtype: object

count       55792
unique       3069
top       Unknown
freq         4891
Name: Publisher, dtype: object

count       55775
unique       8064
top       Unknown
freq         4756
Name: Developer, dtype: object

count    6536.000000
mean        7.213709
std         1.454079
min         1.000000
25%         6.400000
50%         7.500000
75%         8.300000
max        10.000000
Name: Critic_Score, dtype: float64

count    335.000000
mean       8.253433
std        1.401489
min        2.000000
25%        7.800000
50%        8.500000
75%        9.100000
max       10.000000
Name: User_Score, dtype: float64

count    1827.000000
mean        1.887258
std         4.195693
min         0.030000
25%         0.200000
50%         0.590000
75%         1.800000
max        82.860000
Name: Total_Shipped, dtype: float64

count    19415.000000
mean         0.365503
std          0.833022
min          0.000000
25%          0.030000
50%          0.120000
75%          0.360000
max         20.320000
Name: Global_Sales, dtype: float64

count    12964.000000
mean         0.275541
std          0.512809
min          0.000000
25%          0.050000
50%          0.120000
75%          0.290000
max          9.760000
Name: NA_Sales, dtype: float64

count    13189.000000
mean         0.155263
std          0.399257
min          0.000000
25%          0.010000
50%          0.040000
75%          0.140000
max          9.850000
Name: PAL_Sales, dtype: float64

count    7043.000000
mean        0.110402
std         0.184673
min         0.000000
25%         0.020000
50%         0.050000
75%         0.120000
max         2.690000
Name: JP_Sales, dtype: float64

count    15522.000000
mean         0.044719
std          0.129554
min          0.000000
25%          0.000000
50%          0.010000
75%          0.040000
max          3.120000
Name: Other_Sales, dtype: float64

count    54813.000000
mean      2005.659095
std          8.355585
min       1970.000000
25%       2000.000000
50%       2008.000000
75%       2011.000000
max       2020.000000
Name: Year, dtype: float64